* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.navbar {
    background-color:rgb(143, 138, 138);
    text-align: center;
    padding: 10px 0;
    font-size:18px ;
}
nav {
    color:#f8e3c3;
    padding: 0.5em;
    text-align: center;
}
nav a {
    color: #fae3c3;
    text-decoration: none;
    margin: 0 0.05em;
}
.menu {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    list-style: none;
}
h1 {
    text-align: justify;
    font-size: 50px;
    font-style: italic;
    font-family: cursive;
}
.text{
        font-weight: 60;
        font-size: 30px;
        font-style: italic;
        font-family: 'Trebuchet MS';
}
.text span {
    font-family: cursive;
    font-size: 30px;
    flex-wrap: wrap;
}
.navbar img {
    max-width: 25%;
    height: auto;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}
 /*  sponsors logo container */
.title-sponsors {
    text-align: center;
    margin-bottom: 20px;
}
.title-sponsors h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.sponsors-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.slide {
    text-align: center;
}
.slide img {
    max-width: 100%;
    height: auto;
    width: auto;
    height: 100px;
    border-radius:8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}    
.sponsors-logo p {
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

/* event */
.container {
    max-width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #413c3c;
}
.container h2{
    text-align: center;
    padding: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2rem;
}
.container p {
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: 4px;
    color: #8f7171;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;  
}
@keyframes animate {
    0%,26%,40%,35%,20%,25%
    {
        color: #fc6cb4;
        box-shadow: none;
    }
    18%,25%,50%,60.5%,15%{
        color: #fff;
        text-shadow: 0 0 10px rgb(132, 146, 141),
        0 0 20px rgb(140, 163, 155),
        0 0 30px rgb(147, 173, 165),
        0 0 60px rgb(115, 139, 131),
        0 0 100px rgb(123, 165, 151);     
    }
}
.container .timer {
    font-size: 2rem;
    width: 3%;
    letter-spacing: 4px;
    color: #8f7171;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.70em;
    outline: none;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%,26%,40%,35%,20%,25%
    {
        color: #fc6cb4;
        box-shadow: none;
    }
    18%,25%,50%,60.5%,15%{
        color: #fff;
        text-shadow: 0 0 10px rgb(132, 146, 141),
        0 0 20px rgb(140, 163, 155),
        0 0 30px rgb(147, 173, 165),
        0 0 60px rgb(115, 139, 131),
        0 0 100px rgb(123, 165, 151);     
    }
}

/* rsvp form */
.container2  {
    background-color: #aa9d9dc4;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.container2 h2 {
    text-align: center;
    padding: 2rem;
}
.rsvp-form {
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(41, 39, 39, 0.1);
    padding: 20px;
    width: 60%;
    margin:10px auto;
    
}
.rsvp-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}
.rsvp-form input,
.rsvp-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.rsvp-form button {
    background-color: rosybrown;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.rsvp-form button:hover {
    background-color: #8f7171;
}

/* contact form  */
.container1  {
    background-color: #aa9d9dc4;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.container1 h2 {
    text-align: center;
    padding: 2rem;
}
  .contact-form {
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin: 10px auto;

 }

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}
.contact-form input,.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size:14px ;
    
 }
.contact-form button {
  background-color: #366074b7;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
 cursor: pointer;
}

 .contact-form button:hover {
    background-color: #fc6cb4;
}

/* footer section */

footer {
    width: 100%;
    background: #8f7171;
}
.main-content {
    display: flex;
}
.main-content .box {
    flex-basis: 100%;
    padding: 20px 10px;
}
.box h3 {
    font-size: 1.125rem;
    font-weight: 600;
}
.box .content{
    margin: 20px 0 0 0;
}

.content body {
    background-color: #b48686c4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content input,
.content textarea {
    width: 70%;
    padding: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;

}
.content button {
    background-color: #366074b7;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.content button:hover {
    background-color: #fc6cb4;
}
@media screen and (max-width: 768px)